@import url("https://fonts.googleapis.com/css?family=Montserrat");

$colour-black: black;
$colour-blue: blue;
$colour-lightgray: lightgray;
$font: "Montserrat", sans-serif;
$font-size: 2em;
$width: 100%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: $width;
  height: 100vh;
  font-family: $font;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 30px 0;

  h1 {
    color: $colour-black;
    font-size: $font-size;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;

  li {
    display: inline;
  }

  a {
    color: $colour-blue;
    text-decoration: none;
    padding-right: 3px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  margin-bottom: 30px;
  border: 1px solid $colour-lightgray;

  p {
    text-align: center;
  }

  button {
    border: none;
  }
}

.portion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;

    img {
      width: 80%;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;

    p {
      width: $width;
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;

  p {
    width: $width;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;

  p {
    width: $width;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  width: $width;

  li {
    display: inline;
    list-style: none;
    padding-left: 50px;
  }

  a {
    text-decoration: none;
  }
}

@media (min-width: 600px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;

    p {
      text-align: center;
    }

    button {
      border: none;
    }
  }

  .portion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    figure {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px 10px;

      img {
        width: $width;
      }
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding-bottom: 20px;

      p {
        width: $width;
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;

    p {
      width: $width;
    }
  }
}
